image:  
  repository: meka124/timerapp
  tag: 822b95a
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false

serviceAccount:
  enabled: false

autoscaling:
  enabled: false